<div class="d-inline-block">
  <%= render 'shared/alerts' %>
</div>

<% if @friends %>
  <div class="card card-header d-inline-block mb-2">
    <table class="col-md-12">
      <tbody>
        <% @friends.each do |friend| %>
            <% unless friend == current_user %>
              <tr>
                <td><strong>Name: </strong> <%= friend.full_name %></td>
                <td><strong>Email: </strong> <%= friend.email %></td>
                <td><%= link_to 'View Profile', '#', class:'btn btn-sm btn-success text-white' %>
                <% if current_user.not_friends_with?(friend) %>
                  <%= link_to 'Follow friend', '#', method: :post, class: 'btn btn-success btn-sm text-white' %></td>
                <% else %>
                  <span class="badge bg-secondary">You are already friends!</span>
                <% end %>
              </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>